@{
    ViewData["Title"] = "Home Page";
}

<div class="eventContent">
    <div class="eventSearch">
        <div class="tagDropdown">Upcoming</div>
        <input type="text" placeholder="Search" />
    </div>
    <ul class="eventList">
        <li>friendly rizzler</li>
    </ul>
</div>
<script src="~/js/navbar.js"></script>