@media (max-width: 768px) {
    main {
        width: calc(100% - 9rem);
    }

    .side-navbar {
        width: 9rem;
    }

    .nav-user-info {
        display: none;
    }

    .nav-user-img-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
}
